<script type="text/javascript" src="/abhimani-mp3/res/js.lib.jquery.min.js"></script>
<script type="text/javascript">//<![CDATA[  
var $trim;$.ajaxSetup({cache:!1}),$trim=$.trim,$.trim=function(t){return $trim(t).replace(/\s{2,}/g," ")},$.support.placeholder=function(){try{return"placeholder"in document.createElement("input")}catch(t){return!1}},$("input").change(function(){$(this).val($.trim($(this).val())),$.support.placeholder()||$(this).val($(this).val()&&$(this).val()!=$(this).attr("placeholder")?$(this).val():null),$(this).select()}).focusin(function(){$(this).change()}).focusout(function(){$(this).val($.trim($(this).val())),$.support.placeholder()||$(this).val($(this).val()&&$(this).val()!=$(this).attr("placeholder")?$(this).val():$(this).attr("placeholder"))}).focusout();
//]]></script>
