<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Ankit Bhimani" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link type="text/css" rel="stylesheet" media="all" href="/abhimani-mp3/res/styles.generics.css" />
<link type="text/css" rel="stylesheet" media="all" href="/abhimani-mp3/res/styles.EventPortalApp.css" />
