html{background:#f6f6f6;}

html body div#wrapper_main{position:static !important;float:none !important;margin:0 3% !important;width:94% !important;}
div#wrapper_main div#wrap_content{position:static !important;float:left !important;padding:6px 8% 180px 0;width:92%;height:100% !important;overflow:auto;overflow-x:hidden !important;}

/* APPLICATION */
div#wrapper_main div#wrap_head div#msgBox{position:relative;clear:left;float:left;margin-top:6px;padding:12px 2%;width:88% !important;}
div#wrapper_main div#wrap_head div#msgBox:not(:empty){background-color:#F0CFCF;border:1px solid #f00;border-radius:8px;}
div#wrapper_main div#wrap_head div#msgBox:empty{display:none;}
form[name="x0"] table#tblx{position:relative;float:left;margin-top:16px;width:100%;}
form[name="x0"] table#tblx *{text-align:left;}
form[name="x0"] table#tblx th{font-weight:bold;}
form[name="x0"] table#tblx th, form[name="x0"] table#tblx td{padding:8px 18px;}
form[name="x0"] table#tblx table{padding:0px;border:0px none;}
form[name="x0"] table#tblx table th{padding:4px 0px 4px 4px;}
form[name="x0"] table#tblx table td{padding:0px 8px 0px 0px;}

form[name="x0"] textarea#txtNote{float:left;width:98%;height:320px;}

form[name="x0"] table#tblx div.wrap_menu ul.menu.nav{margin:0 !important;}
form[name="x0"] table#tblx div.wrap_menu ul.menu.nav li{border-right:1px solid #bbb;}
form[name="x0"] table#tblx div.wrap_menu ul.menu.nav li:last-child,
form[name="x0"] table#tblx div.wrap_menu ul.menu.nav li.last{border-right:0 none !important;}

form[name="x0"] table#tblx div.wrap_menu ul.menu.nav li a{padding:2px 12px;color:#F3722A;font-weight:bold;border:0 none !important;}

form[name="x0"] table#tblx div.wrap_menu ul.menu.nav li:first-child a,
form[name="x0"] table#tblx div.wrap_menu ul.menu.nav li.first a{padding-left:0 !important;}


